* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

html, body {
	width: 100%;
	height: 100%;
}

header { 
	margin: 5% 0% 3.5% 0%;
}

h1 {
	height: 100%;
	text-align: center;
	color: #000000;
}

.menu {
	width: 100%;
	height: 70%;
}

.menuItem {
	background-color: #a0a0a0;
	border: 2px solid #000000;
	position: relative;
}

.itemTitle {
	width: 40%;
	border: 8px solid #000000;
	border-width: 0px 0px 2px 2px;
	text-align: center;
	padding: 5px;
	height: 30px;
	font-weight: bold;
	position: absolute;
	top: 0;
	right: 0;
}

.itemDesc {
	margin: 30px 0px 0px 0px;
	padding: 10px;
	color: #000000;
}

#chickenTitle {
	background-color: #ffaaaa;
	color: #000000;
}

#beefTitle {
	background-color: #ff0000;
	color: #ffffff;
}

#sushiTitle {
	background-color: #fffc66;
	color: #000000;
}

/* Desktop */
@media (min-width: 992px) { 
	.menu {
		height: 40%;
	}
	.menuItem {
		float: left;
		width: 30%;
		height: 75%;
		margin: 0% 1.25% 0% 1.25%;
	}
	#chickenItem {
		margin-left: 2.5%;
	}
	#sushiItem {
		margin-right: 2.5%;
	}
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
	.menu { 
		height: 85%;
	}
	.menuItem {
		float: left;
		width: 45.5%;
		height: 35%;
		margin: 0% 1.5% 0% 1.5%;
	}
	#chickenItem {
		margin-left: 3%;
	}
	#beefItem {
		margin-right: 3%;
	}
	#sushiItem {
		clear: both;
		width: 94%;
		margin: 3%;
	}
}

/* Mobile */
@media (max-width: 767px) {
	.menu { height: 75%; }
	.menuItem {
		height: 25%;
		margin: 5% 10% 5% 10%;
	}
	#chickenItem {
		margin-top: 1.5%;
	}
}
